* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
html {
    /* 10px / 16px = 0.625 =62.5*/
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
   
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 400;
    overflow-x: hidden;
    color: #523414;
    background-color:gold;
}
    heading-primary,
   .heading-secondary,
   .heading-tertiary {
    font-weight: 700;
    color: #523414;
    letter-spacing: -0.5px;
}
.service-nav-opt2 {
    font-weight: 700;
    color: #523414;
    letter-spacing: -0.5px;
}
    .heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}
   .heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin: 1.2rem;
}
   
a {
    text-decoration: none;
}
   .first-fold {
    background-color:gold;
    min-height: 80rem;
}
/* ****************** */
/* Logo */
/* ****************** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 9.6rem;
    padding: 0 4.8rem;
}
   
.logo {
    height: 2.2rem;
    font-size: 4.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #462d12;
}
   
   /* ****************** */
   /* Navigation */
   /* ****************** */
.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}
.main-nav-link {
    display: inline-block;
    text-decoration: none;
    color: #462d12;
    font-weight: 400;
    font-size: 1.8rem;
}
   
.main-nav-link-home {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #523414;
}
.main-nav-link-our-services {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #523414;
}
/* ****************** */
/* Hero section */
/* ****************** */
.section-hero {
    padding: 15rem 0 9.6rem;
}
   
.hero {
    max-width: 75rem;
    padding: 0 9.6rem;
    align-items: left;
}
   
.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin: 4.8rem 0;
}

.package1-text-box {
    padding-left: 10rem;
    padding-top: 20rem;
    font-weight: 700;
    border-radius: 20px;
}
/* ****************** */
/* Packages section */
/* ****************** */
.section-Packages {
    padding-left: 4rem;
    padding-top: 14rem;
}
.service-title {
    font-weight: 700;
    letter-spacing: -0.5px;
    height: 2.2rem;
    font-size: 5rem;
    text-decoration: none;
    text-align: center;
    color: #462d12;
}
/* ****************** */
/* Get in Touch */
/* ****************** */

.third-fold {
 background-color:gold;
 min-height: 80rem;
}
.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 5.6rem;
    text-align: center;
}
.getintouch-field {
    color: #462d12;
    letter-spacing: -0.5px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1px;
}
.getintouch-field-subscribe {
    background-color: #462d12;
    border-radius: 9px;
    letter-spacing: -0.5px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1px;
    color: white;
}
.getintouch-field-check {
    color: white;
    letter-spacing: -0.5px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}
.get-in-touch-text-box2 {
    border-radius: 9px;
    background-color: #462d12;
    padding: 4rem;
    color: white;
    width: 360px;
    text-align: center;
}
div.get-in-touch-text-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 360px
}